# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [58]:
# Use this cell to write your code for Task 1
import pandas as pd
df = pd.read_csv("house_sales.csv")
df.head()

   house_id        city  sale_price  ... bedrooms     house_type         area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8 sq.m.
1   1900913  Silvertown      384677  ...        5       Detached  498.8 sq.m.
2   1174927   Riverford      281707  ...        6       Detached  542.5 sq.m.
3   1773666  Silvertown      373251  ...        6           Det.  528.4 sq.m.
4   1258487  Silvertown      328885  ...        5       Detached  477.1 sq.m.

[5 rows x 8 columns]

In [59]:
missing_city = df["city"].value_counts().loc["--"]
print(missing_city)

73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [60]:
# Use this cell to write your code for Task 2
df = pd.read_csv("house_sales.csv")

df.head()

   house_id        city  sale_price  ... bedrooms     house_type         area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8 sq.m.
1   1900913  Silvertown      384677  ...        5       Detached  498.8 sq.m.
2   1174927   Riverford      281707  ...        6       Detached  542.5 sq.m.
3   1773666  Silvertown      373251  ...        6           Det.  528.4 sq.m.
4   1258487  Silvertown      328885  ...        5       Detached  477.1 sq.m.

[5 rows x 8 columns]

In [61]:
#city
df["city"] = df["city"].replace("--", "Unknown")

#sale_price 
df.dropna(subset=["sale_price"], inplace=True)
df = df[df["sale_price"] > 0]

#sale date
df["sale_date"].fillna("2023-01-01", inplace=True)


#MONTHS_LISTED
df["months_listed"] = df["months_listed"].fillna(round(df["months_listed"].mean(), 1))

#BEDROOMS
df["bedrooms"] = df["bedrooms"].fillna(int(df["months_listed"].mean()))
df = df[df["bedrooms"] >= 0]

#HOUSE_TYPE
df["house_type"] = df["house_type"].replace({"Det.": "Detached", "Semi": "Semi-detached", "Terr.": "Terraced"})
most_common_house_type = df['house_type'].mode()[0]
df['house_type'].fillna(most_common_house_type, inplace=True)

#AREA
df['area'] = df['area'].str.extract(r'(\d+\.\d+)').astype(float)

clean_data = df.copy()
print(clean_data)

      house_id        city  sale_price  ... bedrooms     house_type   area
0      1217792  Silvertown       55943  ...        2  Semi-detached  107.8
1      1900913  Silvertown      384677  ...        5       Detached  498.8
2      1174927   Riverford      281707  ...        6       Detached  542.5
3      1773666  Silvertown      373251  ...        6       Detached  528.4
4      1258487  Silvertown      328885  ...        5       Detached  477.1
...        ...         ...         ...  ...      ...            ...    ...
1495   1123892   Riverford      198661  ...        5       Detached  432.2
1496   1327295   Poppleton      358304  ...        6       Detached  599.8
1497   1058161   Riverford      176612  ...        4       Detached  359.1
1498   1822037    Teasdale      197827  ...        3       Detached  253.7
1499   1679272   Poppleton      162099  ...        3       Detached  268.7

[1500 rows x 8 columns]

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [62]:
# Use this cell to write your code for Task 3
import numpy as np
price_by_rooms = clean_data.groupby("bedrooms")["sale_price"].agg(avg_price=np.mean, var_price=np.var).reset_index().round(1)
print(price_by_rooms)

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [63]:
# Use this cell to write your code for Task 4
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

train = pd.read_csv("train.csv")
validation = pd.read_csv("validation.csv")


train_dummies = pd.get_dummies(train, columns=["house_type", "city"])
validation_dummies = pd.get_dummies(validation, columns=["house_type", "city"])


y = train_dummies["sale_price"]
X = train_dummies[["months_listed", "bedrooms", "area", "house_type_Detached", "house_type_Semi-detached",
       'house_type_Terraced', 'city_Poppleton', 'city_Riverford',
       'city_Silvertown', 'city_Teasdale']]

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state=42)

X_val = validation_dummies[["months_listed", "bedrooms", "area", "house_type_Detached", "house_type_Semi-detached",
       'house_type_Terraced', 'city_Poppleton', 'city_Riverford',
       'city_Silvertown', 'city_Teasdale']]

model = LinearRegression()
model.fit(X_train, y_train)

# y_pred = model.predict(X_test)
# result = mean_squared_error(y_test, y_pred)
# print(np.sqrt(result))

y_pred = model.predict(X_val)

base_result = pd.DataFrame({"house_id": validation["house_id"], "price": y_pred})
print(base_result)

     house_id          price
0     1331375  121076.990883
1     1630115  302873.896594
2     1645745  384090.017421
3     1336775  124237.304868
4     1888274  270755.116663
..        ...            ...
295   1986255  351714.209617
296   1896276  370025.398442
297   1758223  259433.733462
298   1752010  168285.385090
299   1651404  390269.567788

[300 rows x 2 columns]

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [65]:
# Use this cell to write your code for Task 5
# Use this cell to write your code for Task 5
from sklearn.ensemble import RandomForestRegressor

model2 = RandomForestRegressor(n_estimators=100, random_state=42)
model2.fit(X_train, y_train)

# y_pred = model2.predict(X_test)
# result = mean_squared_error(y_test, y_pred)
# print(np.sqrt(result))

y_pred = model2.predict(X_val)

compare_result = pd.DataFrame({"house_id": validation["house_id"], "price": y_pred})
print(compare_result)

     house_id      price
0     1331375   83277.81
1     1630115  309568.04
2     1645745  408294.19
3     1336775  105067.98
4     1888274  269697.26
..        ...        ...
295   1986255  358766.40
296   1896276  396624.59
297   1758223  262024.38
298   1752010  171830.58
299   1651404  412024.62

[300 rows x 2 columns]