# Cleaning Data in Python

<hr>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
ride_sharing = pd.read_csv("databases/ride_sharing_new.csv", index_col=0)

<hr>

## Common data problems

Int to category and assertion

In [6]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype("category")

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None
count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64
count     25760
unique        3
top           2
freq      12972
Name: user_type_cat, dtype: int64

str.strip()

### Data range constraints

- dropping data
- setting custom min and max
- treat as missing and impute
- setting custom value depending ob business assumption

In [ ]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27

#THIS IS THE MAIN TAKEAWAY
ride_sharing.loc[ride_sharing["tire_sizes"] > 27, "tire_sizes"] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing["tire_sizes"].astype("category")

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

In [ ]:
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

### Uniqueness constraints

In [ ]:
#Get duplicates accross all values
duplicates = df.duplicated()
df[duplicates]

**The `.duplicated() method`**
- `subset`: List of column names to check for duplication
- `keep`: Whether to keep `first`, `last` or all (`False`) duplicate values
- `inplace`: `True`

**`.drop_duplicates()`** works pretty much the same, but is used to drop

Task 1

In [ ]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset=["ride_id"], keep=False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values(by='ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id',"duration",'user_birth_year']])

Task 2

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': "min", 'duration': "mean"}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

<hr>

## Text and categorical data problems

### Membership constraints

In [ ]:
inconsistance_categories = set(study_data["blood_type"]).difference(categories["blood_type"])
#returns {"Z+"} - all the blood types whihc are not in categories series

In [ ]:
#Here we find rows with inconsestent values
inconsistance_rows = study_data['blood_type'].isin(inconsistance_categories)

In [ ]:
#We get row with inconsistent data
study_data[inconsistance_rows]

In [ ]:
#To leave only consisnent rows we use ~ which returns everything except inconsistent rows
consistent_data = study[~inconsistance_rows]

Task 1

In [ ]:
import pandas as pd
airlines = pd.read_csv("databases/airlines_final.csv")

# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

### Categorical variables

What type of errors could we have?
- value inconsistency (capitalization, spaces)
- collapsing too many categories to few
- making sure data is of type `category`

**`.value_counts()` works only on Series, for a DataFrame we can groupby the column and use `.count()` method**

In [ ]:
marriage_status["marriage_status"] = marriage_status["marriage_status"].str.upper()

marriage_status["marriage_status"] = marriage_status["marriage_status"].str.lower()

demographics["marriage_status"] = demographics["marriage_status"].str.strip()

Collapsing data into categories

In [ ]:
group_names = ["0-200K", "200K-500K", "500K+"]
demographics["income_group"] = pd.qcut(demographics["household_income"], q=3,
                                    labels = group_names)

A better option

In [ ]:
ranges = [0, 200000, 500000, np.inf]

group_names = ["0-200K", "200K-500K", "500K+"]

demographics["income_group"] = pd.cut(demographics["household_income"], bins=ranges,
                                        labels=group_names)

Map categories to fewer ones: reducing categories in categorical column

In [ ]:
mapping = {"Microsoft": "DesktopOS", "MacOS":"DesktopOS", "Linux": "DesktopOS",
           "IOS": "MobileOS", "Android": "MobileOS"}
devices["operating_system"] = devices["operating_system"].replace(mapping)

Task 1

In [ ]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', "medium", "long"]

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines["wait_min"], bins = label_ranges, labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

### Cleaning text data

Replace "+" with "00" and "-" with ""

In [ ]:
phones["Phone number"] = phones["Phone number"].str.replace("+", "00")
phones["Phone number"] = phones["Phone number"].str.replace("-", "")

Replace phone numbers with lower than 10 digits to NaN

In [ ]:
digits = phones["Phone number"].str.len()
phones.loc[digits < 10, "Phone number"] = np.nan

Self-checking

In [ ]:
sanity_check = phones["Phone number"].str.len()

assert sanity_check.min() >= 10
assert phones["Phone number"].str.contains("+|-").any() == False

### Regular Expressions

Let's try to only extract digits from the phone number column

In [ ]:
phones["Phone number"] = phones["Phone number"].str.replace(r'\D+', '')

# "\D" - everyting that is not a digit

Task 1

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines["survey_response"].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey["survey_response"].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

<hr>

## Advanced data problems

### Uniformity

- we can have Temperature both in C and F
- weight 70 Kg is also 11 st
- Date `26-11-2019 `or `26, November, 2019`

Temperature problem

In [ ]:
temp_fah = temperatures.loc[temperatures["Temperature"] > 40, "Temperature"]
temp_cels = (temp_fah - 32) * (5/9)
temperatures.loc[temmperatures["Temperature"] > 40, "Temperature"] = temp_cels

assert temperatures["Temperature"].max() < 40

Date issue

In [ ]:
#Convert to datetime - but won't work!
birthdays["Birthday"] = pd.to_datetime(birthdays["Birthday"])

#Will work
birthdays["Birthday"] = pd.to_datetime(birthdays["Birthday"],
                                       #Attemp to infer format of each date
                                       infer_datetime_format = True,
                                       #Return NA for rows where conversion failed
                                       errors = "coerce")

Converting the format of a column

In [ ]:
birthday["Birthday"] = birthday["Birthday"].dt.strftime("%d-%m-%Y")

Task 1

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'
print(acct_eu)
# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, "acct_amount"] = banking.loc[acct_eu, "acct_amount"] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = "dollar"

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

Task 2

In [ ]:
# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking["acct_year"])

### Cross field validation

Checking the sanity of our data by logically comapring values of various columns. For example, we can make sure that birthdays and ages of different people match each other:

In [ ]:
users["Birthday"] = pd.to_datetime(users["Birthday"])
today = dt.date.today()

age_manual = today.year - users["Birthday"].dt.year

age_equ = age_manual == users["Age"]

#Inconsistent values
inconsistance_age = users[~age_equ]

There is no single rule on how to deal with found inconsistances, we can:
- drop data
- set to missing and impute
- apply rules from domain knowledge

Task 1

In [ ]:
# Store fund columns to sum against
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis=1) == banking["inv_amount"]

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

Task 2

In [ ]:
# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking["birth_date"].dt.year

# Find rows where age column == ages_manual
age_equ = banking["age"] == ages_manual

# Store consistent and inconsistent data
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

### Completeness

In [ ]:
#To check for NaN
df.isna().sum()

Visualizing

In [ ]:
import missingno as msno
import matplotlib.pyplot as plt

msno.matrix(airquiality)
plt.show()

In [ ]:
missing = airquality[airquality["CO2"].isna()]
complete = airquality[~airquality["CO2"].isna()]

We can drop values like this

In [ ]:
airquality_dropped = airquality.dropna(subset=["CO2"])

Or we can replace with statistical measures

In [ ]:
co2_mean = airquality["CO2"].mean()

airquality_imputed = airquality.fillna({"CO2": co2_mean})

Task 1

In [ ]:
# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Isolate missing and non missing values of inv_amount
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]

# Sort banking by age and visualize
banking_sorted = banking.sort_values("age")
msno.matrix(banking_sorted)
plt.show()

Task 2

In [ ]:
# Drop missing values of cust_id
banking_fullid = banking.dropna(subset = ['cust_id'])

# Compute estimated acct_amount
acct_imp = banking_fullid["inv_amount"] * 5

# Impute missing acct_amount with corresponding acct_imp
banking_imputed = banking_fullid.fillna({'acct_amount':acct_imp})

# Print number of missing values
print(banking_imputed.isna().sum())

<hr>

## Record Linkage

### Comparing strings

Minimum edit distance - way to identify how close two strings are. The minimum edit distance between words "intention" and "execution" is the least possible amount of steps needed to transition from one word to another (5)

Now we will see `thefuzz` library

In [3]:
from thefuzz import fuzz

fuzz.WRatio("Reeding", "Reading")
#the output is a score between 0 and 100
#where 0 is not being similar at all and 100 being an exact match

86

In [5]:
import pandas as pd
from thefuzz import process
string = "Houston Rockets vs Los Angeles Lakers"
choices = pd.Series(["Rockets vs Lakers", "Lakers vs Rockets",
                     "Houson vs Los Angeles", "Heat vs Bulls"])

process.extract(string, choices, limit=2)

[('Rockets vs Lakers', 86, 0), ('Lakers vs Rockets', 86, 1)]

Another option to use when you have a bunch of inconsistent categories and it is too long to use `.replace`

In [ ]:
# Iterate through categories
for cuisine in categories:  
  # Create a list of matches, comparing cuisine with the cuisine_type column
  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

  # Iterate through the list of matches
  for match in matches:
     # Check whether the similarity score is greater than or equal to 80
    if match[1] >= 80:
      # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine
      
# Inspect the final result
print(restaurants['cuisine_type'].unique())

### Generating pairs

In [ ]:
import recordlinkage

#Create indexing object
indexer = recordlinkage.Index()