In [3]:
import pandas as pd
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})

In [7]:
employees

   emp_id  event_day  in_time  out_time
0       1 2020-11-28        4        32
1       1 2020-11-28       55       200
2       1 2020-12-03        1        42
3       2 2020-11-28        3        33
4       2 2020-12-09       47        74

In [42]:
function_dictionary = {"in_time": "sum", "out_time":'sum'}

temp = employees.groupby(["event_day", "emp_id"]).aggregate(function_dictionary)

temp["total_time"] = temp["out_time"] - temp["in_time"]
temp.drop(["in_time", "out_time"], axis=1, inplace=True)
temp.reset_index().rename(columns={"event_day": "day"})

         day  emp_id  total_time
0 2020-11-28       1         173
1 2020-11-28       2          30
2 2020-12-03       1          41
3 2020-12-09       2          27

To concatenate two tables:

In [ ]:
return pd.concat([df1, df2])

Creating pivot table

In [ ]:
| city         | month    | temperature |
| ------------ | -------- | ----------- |
| Jacksonville | January  | 13          |
| Jacksonville | February | 23          |
| Jacksonville | March    | 38          |
| Jacksonville | April    | 5           |
| Jacksonville | May      | 34          |
| ElPaso       | January  | 20          |
| ElPaso       | February | 6           |
| ElPaso       | March    | 26          |
| ElPaso       | April    | 2           |
| ElPaso       | May      | 43          |

In [ ]:
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    return weather.pivot_table(columns="city", index="month", values="temperature")

In [ ]:
df.rename(columns={"old": "new"})

Adding column with the length of other column

In [ ]:
tweets["length"] = tweets["content"].apply(len)

We do not use `len()` function of df rows, instead we use `str.len()`

In [ ]:
invalid_tweets_df = tweets[tweets['content'].str.len() > 15]

God knows what

In [ ]:
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees["bonus"] = employees["salary"]
    for label, row in employees.iterrows():
        if row.employee_id % 2 != 0 and row["name"].startswith("M") == False:
            employees.at[label, 'bonus'] = row.salary
        else:
           employees.at[label, 'bonus'] = 0

    return employees[["employee_id", "bonus"]].sort_values("employee_id")